<div *ngIf="loading">Loading...</div>
<div *ngIf="!loading">
  <div *ngIf="selectedEvent">
    <div>
      <button (click)="onDetails(null)"><- back</button>
    </div>
    <app-event-details [event]="selectedEvent"></app-event-details>
  </div>
  <div *ngIf="!selectedEvent">
    <p>Last Fetched: {{eventList.dateFetched | date:'full'}}</p>
    <div *ngFor="let event of eventList.events" class="stripe">
      <app-event-image
        [image]="event.thumbnail"
        [eventId]="event.id"
        [isThumbnail]="true"></app-event-image>
      <div><em>{{event.name}}</em></div>
      <div><button (click)="onDetails(event)">details</button></div>
      <p>{{truncateDescription(event.description)}}</p>
      <div style="clear: both;">Location: {{event.location.name}}</div>
      <div>On: {{event.date.toDateString()}} @ {{event.date.toLocaleTimeString()}}</div>
      <div>
        Going:
        <app-event-status [eventId]="event.id"></app-event-status>
      </div>
    </div>
  </div>
</div>

